@import "../../global.scss";

.projects {
    width: 100vw;
    height: calc(100vh - 70px);
    scroll-snap-align: start;;
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
    justify-content: center;
    background-color: rgb(236, 236, 236);

    @include mobile {
        height: auto;

        .projects-title {
            padding-top: 20px;
        }

        .goDown {
            display: none;
        }
    }

    .cards {
        display: grid;
        grid-template-columns: auto auto auto auto;
        gap: 2rem;
        justify-content: center;

        @include mobile {
            display: flex;
            flex-direction: column;
            padding-bottom: 40px;
        }
 
        a {
            color: black;
            text-decoration: none;
        }
        a:link {
            color: black;
        }
        a:hover {
            color: black;
        }
        a:visited {
            color: black;
        }
    }

    .goDown {

        .downIcon {
            transition: 0.3s;
            font-size: 60px;
        }
        a:link {
            color: #3e474f;
        }
        a:visited {
            color: #3e474f;
        }
        a:hover {
            color: pink;
        }
    }
}