@import "../../global.scss";

.skills {
    display: grid;
    grid-template-columns: 50% 50%;

    @include mobile {
        display: flex;
        flex-direction: column;

        .rightSkills {
            display: none;
        }

        .leftSkills > .about > h1 {
            padding-top: 20px;
        }

        .skills-section {
            padding-bottom: 40px;
        }

        .leftSkills > .goDown {
            display: none;
        }
    }

    .leftSkills {
        color: white;
        background-color: #3e474f;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 30px;

        .about {
            h1 {
                text-align: center;
            }

            p {
                padding-left: 20px;
                padding-right: 20px;
                padding-top: 20px;
            }

            .cvLink {
                padding-left: 20px;
                padding-top: 20px;

                button {
                    padding: 5px;
                }
            }
        }
    
        .skills-section {
            h1 {
                text-align: center;
            }

            .logos {
                padding-top: 20px;
                display: grid;
                grid-template-columns: auto auto auto;
                justify-content: center;
                gap: 4rem;
                row-gap: 2rem;

                .logo-and-text {
                    text-align: center;

                    img {
                        width: 50px;
                        height: 50px;
                        background-color: white;
                        padding: 10px;
                    }

                    img:hover {
                        filter: brightness(50%);
                    }
                }
            }
        }
    
        .goDown {
            text-align: center;

            .downIcon {
                font-size: 60px;
                transition: 0.3s;
            }
            a:link {
                color: white;
            }
            a:visited {
                color: white;
            }
            a:hover {
                color: grey;
            }
        }
    }
    
    
    .rightSkills {
        @include mobile {
            display: none;
        }

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
        background-color: #d1d1d1;

    
        .profileImage {
            img {
                height: 450px;
                width: 450px;
                border-radius: 100%
            }
        }

        .socialIcons {
            display: flex;
    
            .linkedin {
                transition: 0.3s;
                padding-right: 10px;
            }
    
            .github {
                transition: 0.3s;
            }
    
            a:visited {
                color: #3e474f;
            }
            
            a:hover {
                color: grey;
            }
        }    
    }
}